.container{
    width: 640px;
    height: 858px;
    margin:auto;
    flex-grow: 0;
    background-color: #f2f4f7;
    text-align:center;
    /* display:flex;
    flex-direction:column;
    justify-content:center; */
}
.icon{
  padding-top:40px;
  padding-bottom:40px;
}
.iconImage{
  width: 100.6px;
  height: 28px;
}
.illustration{
  position:relative;
}

.inner-image {
  position: absolute;
  bottom:5px;
  right:-9px;
  margin: 0 57px 0 0;
  object-fit: contain;
}
.emailContent{
  width: 544px;
  height: 524px;
  background-color: #fcfcfd;
  margin-left:48px;
  margin-top:-5px;
}
.content{
  padding:40px 40px 28px 40px;
  /* border:1px solid red; */
  text-align:left;
}
.content-1{
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #171b23;
}
.content-2
{
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: left;
  margin-top:24px;
}

.text-style-1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.text-style-2 {
  font-weight: 600;
}

.content-21{
  margin-top:45px;
  /* width:300px; */
}

.text-style-3 {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}

.text-style-4 {
  color: #4f545b;
}

.text-style-5 {
  color: #404650;
}

.Buttons{
  width: 84px;
  height: 52px;
  padding: 16px 20px;
  border-radius: 12px;
  background-color: #8143fd;
  border:0;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #fcfcfd;
}
.Buttons:hover{
  cursor:pointer;
}

.buttonDiv{
  margin: 105px 49.6px 75.9px 186px;
}

.Email-Template-Footer {
  /* border:1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 16px 48px; */
}

.footer-2{
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: 0.2px;
  text-align: center;
  color: #999fa8;
  margin-top:16px;
}

.footer-support{
  color: #8143fd;
  text-decoration:none;
}

.footer-1{
  display:flex;
  justify-content:center;
  gap:25px;
  margin-top:28px;
}

.twitter{
  margin-top:2px;
}