.main {
  display: grid;
  width: 90%;
  margin: auto;
  margin-top: 2%;
  grid-gap: 50px;
  grid-template-columns: repeat(4, 300px);
  justify-content: space-between;
}

.image {
  padding: 2%;
  border-bottom: 1px solid black;
}

.textMain {
  padding: 2%;
  text-align: left;
}

.main > div {
  border: 1px solid black;
  border-radius: 15px;
}

.titleMain {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.titleMain > div:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}

.description {
  padding: 3%;
}
